<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    @* <link rel="stylesheet" href="~/ModelValidation.styles.css" asp-append-version="true" /> *@

    <!-- Import admin-lte cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2.0/dist/css/adminlte.min.css">
    <!-- Impoer font awesome cdn -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <!-- Import select2 cdn -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <!-- Import toastr cdn -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
        </nav>

        <!-- Sidebar  -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a href="~/Home/Index" class="brand-link">
                <span class="brand-text font-weight-light">ModelValitation</span>
            </a>

            <div class="sidebar">
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" expandSidebar="true">
                        <!-- Home -->
                        <li class="nav-item">
                            <a href="~/Home/Index" class="nav-link">
                                <i class="nav-icon fas fa-home"></i>
                                <p>
                                    Home
                                </p>
                            </a>
                        </li>
                        <!-- Privacy -->
                        <li class="nav-item">
                            <a href="~/Home/Privacy" class="nav-link">
                                <i class="nav-icon fas fa-user-secret"></i>
                                <p>
                                    Privacy
                                </p>
                            </a>
                        </li>
                        <!-- Activity -->
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tasks"></i>
                                <p>
                                    Activity
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="~/Activity/ActivityPagedList" class="nav-link">
                                        <i class="nav-icon far fa-circle"></i>
                                        <p>
                                            Activity Paged List
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="~/Activity/ActivityList" class="nav-link">
                                        <i class="nav-icon far fa-circle"></i>
                                        <p>
                                            Activity List
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="~/Activity/CreateActivity" class="nav-link">
                                        <i class="nav-icon far fa-circle"></i>
                                        <p>
                                            Create Activity
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- DateTime -->
                        <li class="nav-item">
                            <a href="~/DateTime/Index" class="nav-link">
                                <i class="nav-icon fas fa-calendar"></i>
                                <p>
                                    Data Time
                                </p>
                            </a>
                        </li>
                        <!-- Dropdown -->
                        <li class="nav-item">
                            <a href="~/Dropdown/Index" class="nav-link">
                                <i class="nav-icon fas fa-caret-square-down"></i>
                                <p>
                                    Dropdown
                                </p>
                            </a>
                        </li>
                        <!-- Checkbox -->
                        <li class="nav-item">
                            <a href="~/Checkbox/Index" class="nav-link">
                                <i class="nav-icon fas fa-check-square"></i>
                                <p>
                                    Checkbox
                                </p>
                            </a>
                        <!--  Nav Tab -->
                        <li class="nav-item">
                            <a href="~/NavTab/Index" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                                <p>
                                    Nav Tab
                                </p>
                            </a>
                            <!-- File -->
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-file"></i>
                                <p>
                                    File
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="~/File/Index" class="nav-link">
                                        <i class="nav-icon far fa-circle"></i>
                                        <p>
                                            File
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="~/File/Upload" class="nav-link">
                                        <i class="nav-icon far fa-circle"></i>
                                        <p>
                                            Upload
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <div class="content-wrapper px-4 py-2">
            @RenderBody()
        </div>

        <footer class="main-footer">
            <strong>
                &copy; 2024 - ModelValidation - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </strong>
        </footer>
    </div>

    <!-- Body bottom -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- Import admin-lte cdn -->
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2.0/dist/js/adminlte.min.js"></script>
    <!-- Import select2 cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <!-- Import tiny cdn -->
    <script src="https://cdn.tiny.cloud/1/wri2sfox9cuvtkl9w3enlylzh14hcx56p21o2xj5wm28lsuo/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <!-- Import toastr cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <!-- Data annotation validation -->
    @* <partial name="/Views/Shared/_ValidationScriptsPartial.cshtml" /> *@
    <!-- Toastr -->
    <partial name="/Views/Shared/_ToastrPartial.cshtml" />

    <script>
        $(document).ready(function () {
            // Sidebar active
            sidebarActive();
        });
    </script>
</body>

</html>
